.contactMe {
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 50px;
}

.jumbotron {
    border: solid black;
    background-image: "../../../public/images/backgroundimg.png";
}