.jumbotron {
    background-color: white;
}

.resume {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    float: left;
}

.background {
    background-image: url(../../images/vintage-wallpaper.png);
    padding: 2%;
}