.content {
    text-align: center;
}
.picCol {
    border: solid black;
    width: 50%;
}
.projData {
    border: solid black;
    width: 50%;
}

.fullArea {
    background-color: white;
}

img {
    width: 100%;
}